<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EFT_Proj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
    <section name="MailerConfig" type="System.Configuration.NameValueFileSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  
    <MailerConfig configSource="MailSettings.config">
    </MailerConfig>
  
  <connectionStrings>
    <add name="T24CbsProviderProxyEntities" connectionString="metadata=res://*/DAL.T24.T24CbsProviderProxy.csdl|res://*/DAL.T24.T24CbsProviderProxy.ssdl|res://*/DAL.T24.T24CbsProviderProxy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.225.158;initial catalog=EFT_SBACB;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EFT_NewEntities" connectionString="metadata=res://*/DAL.EFTModel.EFTModel.csdl|res://*/DAL.EFTModel.EFTModel.ssdl|res://*/DAL.EFTModel.EFTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.225.158;Initial Catalog=EFT_SBACB;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <!--<sessionState timeout="1"></sessionState>-->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <pages clientIDMode="Static" />
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>-->
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <!--<httpRuntime  maxRequestLength="1024" />-->
  </system.web>
  <system.webServer>
    <!--<security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1024" />
      </requestFiltering>
    </security>-->
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="OwnBankName" value="National Bank Ltd." />
    <add key="BB" value="025" />
    <add key="InwardPath" value="PBM\EFTInward" />
    <add key="InwardReturnPath" value="PBM\EFTInwardReturn" />
    <add key="OutSendAfterCreate" value="true" />
    <add key="OutSenderInfo" value="true" />
    <add key="OutSenderAcc" value="15" />
    <add key="OutSenderName" value="30" />
    <add key="OutAccUpdate" value="false" />
    <add key="Contact" value="For any query pls contact " />
    <add key="ContactMail" value="(Please confirm this message before payment at your District BACH Branch" />
    <add key="InwardPdfHeader" value="EFT message for Ex-advice (1317) payment only" />
    <add key="ReportRdlcPath" value="" />
    <!--sample value of ReportRdlcPath = 190\\-->
    <add key="ReportExclude" value="41,91,92,93,100,101,102" />
    <add key="CompanyInfoInOutwardExcel" value="true" />
    <add key="MakerCanCheck" value="false" />
    <add key="Zone" value="false" />
    <add key="MaxOutExcel" value="500" />
    <add key="PasswordPolicy" value="user" />
    <add key="Session" value="1-Session 1-00:00-14:00-BDT;2-Session 2-14:00-23:59-BDT;3-Session 3-00:00-23:59-USD,GBP,EUR,JPY,CAD" />
    <add key="SessionBACH1" value="0-Whole Session-00:00-23:59-BDT" />
    <add key="OutRetMaxDay" value="1" />
    <add key="MakerCheckerLimit" value="False" />
    <add key="ConcurrentLoginAllowed" value="False" />
    <add key="NeedCBSIntegration" value="True" />
    <add key="ConfigureBACH1" value="True"/>
    <add key="ConfigureSenderMailer" value="True"/>
    <add key="ConfigureReceiverMailer" value="True"/>

    <add key="T_GetAcUrl" value="http://localhost:35803/test"/>
    <add key="T_FTUrl" value="http://localhost:35803/test"/>
    <add key="T_LoginId" value="altitude"/>
    <add key="T_Password" value="altitude"/>
    <add key="T_RssGetAc" value="GLOBUS123"/>
    <add key="T_RssI" value="GLOBUS123"/>
    <add key="T_RssA" value="GLOBUS1234"/>
    <add key="T_RssR" value="GLOBUS123"/>
    <add key="T_RssD" value="GLOBUS123"/>
    <add key="T_FtVersionZero" value="RTGS"/>
    <add key="T_FtVersionAuth" value="RTGS.AUTH"/>
    <add key="T_FtTxType" value="ACRG"/>
    <add key="T_FtSuccess" value="1"/>
    <add key="T_ErrorToken" value="BRIDGE_ERROR"/>
    <add key="T_ErrorParser" value=":"/>
    <add key="T_HOParkingAcc" value="1230000012345\BNK:BDT,1230000012366:USD,1230000012399:EUR"/>
    <add key="T_BranchId" value="BD0010001"/>
    <add key="T_LogResponse" value="1"/>
    <add key="T_ChargeCode" value="DEBIT PLUS CHARGES"/>
    <add key="T_ChargeCodeWaive" value="WAIVE"/>
    <add key="T_ChargeType" value="CHGEFT"/>

    <add key="FtpOn" value="0"/>

  </appSettings>
  
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <EFT_Proj.Properties.Settings>
      <setting name="EFT_Proj_BachLicService_BACHLicense" serializeAs="String">
        <value>http://192.168.225.42:1500/webservice/bachlicense.asmx</value>
      </setting>
    </EFT_Proj.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>